<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quantum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCA840551F0647E20087A3E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCA8406E1F0647E20087A3E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCA840791F0647E20087A3E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
